* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "raleway", sans-serif;
  font-size: 0.9rem;
}
#body {
  width: 95%;
  margin-left: 40px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
h2 {
  1.3rem
}
.full {
  color: #0065fc;
}
.full_grey {
  color: #deebff;
}
/************************ header *********************/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1.3vw;
}
.logo {
  width: 11vh;
  align-items: center;
}
.logo:hover {
  width: 13vh;
  transition: 0.6s;
}
#navbar {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-right: 2vw;
}
nav ul {
  display: flex;
  padding: 1vw;
}
li a {
  padding: 2vw;
}
.signIn a {
  text-decoration: none;
  color: #0065fc;
}
.signIn a:hover {
  border-bottom: 2px #0065fc solid;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px #0065fc solid;
}
/************************** main ************************/
/******** section searchBar *********/
/* h1 p */
#h1 {
  flex-direction: column;
  margin: 0;
}
h1 {
  margin-bottom: 0;
}
#h1 p {
  margin-top: 0.5vw;
}
/************ formulaire ************/
/* ville */
#formulaire {
  height: 50px;
  width: 400px;
  margin-top: 2.2vh;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
}
#carte {
  background-color: #f2f2f2;
  border: 1px solide #f2f2f2;
  height: 100%;
  width: 50px;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#carte:hover {
  cursor: pointer;
  background-color: #0065fc;
  color: white;
  transition: 0.4s;
}
#formulaire input[type="text"] {
  font-size: 15px;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  font-weight: bold;
}
#formulaire input[type="submit"] {
  padding: 13px;
  font-size: 20px;
  background-color: #0065fc;
  cursor: pointer;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #f2f2f2;
  width: 10rem;
}
#formulaire input[type="submit"]:hover {
  background-color: #deebff;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}
#loupe {
  display: none;
}
/************* filtres **************/
#filtres {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  max-width: 80%;
}
#titre {
  margin-right: 10px;
  margin-top: 15px;
}
#blockFiltres {
  display: flex;
  flex-wrap: wrap;
}
.boiteFiltres {
  margin-top: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #deebff;
  border-radius: 30px;
  margin-left: 25px;
}
.boiteFiltres:hover {
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.texteFiltres {
  padding-left: 10px;
  padding-right: 10px;
}
#filtres i {
  background-color: #deebff;
  padding: 0.8rem;
  border-radius: 30px;
  color: #0065fc;
}
/*********** ligne d'info **********/
.info {
  margin: 20px 0 20px 0;
}
.info p {
  display: flex;
  font-size: 80%;
  align-items: center;
}
.info i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  padding: 4px;
  color: #0065fc;
  font-size: 0.8rem;
  border: 1px solid #deebff;
  border-radius: 25px;
}
/**************** hôtels **************/
#hotels {
  display: flex;
  margin-bottom: 2.8vw;
}
#hotel h2 {
  margin-bottom: 1.7vh;
}
/*************** marseille ************/
#marseille {
  display: flex;
  flex: 60%;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 1.8vw 1vw 1.1vw 1.7vw;
  margin-right: 2.2vw;
}

#photosMarseille {
  display: flex;
  flex-wrap: wrap;
}
#marseille figure {
  flex: 1 30%;
  background-color: white;
  box-shadow: 5px 5px 5px #d1d1d1;
  border-radius: 20px;
  margin: 10px 15px 10px 0px;
  padding: 5px;
}
.encartMarseille img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.encartMarseille figcaption {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.texte {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 1vh;
}
.texte p {
  margin-top: 0.9vh;
}

.etoiles {
  display: flex;
}
#plus {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 4vw;
}
/**************** populaire **************/
#populaire {
  flex: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 1.8vw 1vw 1.1vw 1.7vw;
}
#tetePopulaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#photoPopulaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
}
.encartPopulaire {
  display: flex;
  height: 160px;
}
#populaire figure {
  display: flex;
  flex: 30%;
  background-color: white;
  box-shadow: 5px 5px 5px #d1d1d1;
  border-radius: 20px;
  padding: 5px;
  margin: 1.1vw 1.3vw 1vw 0vw;
}
.encartPopulaire img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}
.encartPopulaire figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2vw;
}
#populaire p {
  margin-bottom: 35px;
}
/******************** activités ****************/
#activite h3 {
  padding-bottom: 10px;
}
#photoActivite {
  display: flex;
  justify-content: space-between;
  height: 29vw;
  margin-top: 20px;
}
#block1 {
  display: flex;
  flex: 20%;
  padding: 0px;
}
.block1 {
  display: flex;
}
#block2 {
  display: flex;
  flex: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0vw 1.6vw 0 1.6vw;
}
#block1 img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}
#pomegues {
  height: 50%;
}
#pomegues img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.encartActiviteFrioul {
  height: 30%;
}

#frioul {
  height: 40%;
}
#frioul img {
  height: 62%;
  width: 100%;
  object-fit: cover;
}
.block2 {
  height: 45%;
}
.block2 img {
  width: 100%;
  height: 66.5%;
  object-fit: cover;
}
#activite figcaption {
  margin-top: 10px;
  margin-left: 10px;
}
#activite img {
  border-radius: 20px 20px 0px 0px;
}
#photoActivite figure {
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2.5px 2.5px 2.5px #f2f2f2;
}
/*********************** footer ******************/
footer {
  display: flex;
  height: 200px;
  margin-top: 20px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding-left: 1.2vw;
}
#propos {
  flex: 1 30%;
  justify-content: flex-start;
}
#hebergement {
  flex: 1 30%;
  justify-content: flex-start;
}
#assistance {
  flex: 1 30%;
  justify-content: flex-start;
}
footer ul {
  padding: 20px 0;
}
footer li {
  padding: 5px 0 5px 0;
}
footer li:hover {
  color: #0065fc;
}
h4 {
  margin-top: 30px;
  margin-bottom: 0;
}

/************************** Media queries ********************/

@media screen and (max-width: 400px) {
  #boiteFiltres {
    margin: 0;
  }
  #rechercher {
    display: none;
  }
  #loupe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #0065fc;
    cursor: pointer;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #f2f2f2;
    width: 40px;
  }
  #formulaire input[type="text"] {
    width: 120px;
  }
  #hotels {
    flex-direction: column-reverse;
  }
  /**************************** populaire ********************************/
  #populaire {
    margin-left: 0px;
    margin-bottom: 25px;
  }
  /**************************** marseille ********************************/
  #marseille {
    margin-right: 0px;
  }
  #photoMarseille {
    display: flex;
    flex-direction: column;
  }
  #marseille figure {
    flex: 100%;
  }
  /***************************** activite *******************************/
  #activite {
    width: 95%;
    margin-left: 1.5vw;
  }
  #photoActivite {
    flex-direction: column;
    height: auto;
  }
  .block1 {
    display: flex;
    flex-direction: column;
  }
  #activite img {
    flex: 1;
    height: 140px;
  }
  #block1 figure {
    width: 100%;
    margin-bottom: 1.1vw;
    height: 180px;
  }
  #block2 figure {
    width: 100%;
    margin-bottom: 1.1vw;
    height: 180px;
  }
  #block2 {
    margin: 0;
  }

  /**************************** footer ***********************************/
  footer {
    margin: 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 401px) and (max-width: 850px) {
  #rechercher {
    display: none;
  }
  #loupe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #0065fc;
    cursor: pointer;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #f2f2f2;
    width: 40px;
  }
  #hotels {
    flex-direction: column-reverse;
  }
  /***************** marseille ************************/
  #marseille {
    margin-right: 0px;
  }
  #photoMarseille {
    display: flex;
    flex-direction: column;
  }
  #marseille figure {
    flex: 100%;
  }
  /*************************** populaire*****************/
  #populaire {
    margin-left: 0px;
    margin-bottom: 25px;
  }
  /************************ activite *********************/
  #activite {
    width: 95%;
    margin-left: 1.5vw;
  }
  #photoActivite {
    flex-direction: column;
    height: auto;
  }
  .block1 {
    display: flex;
    flex-direction: column;
  }
  #activite img {
    flex: 1;
    height: 140px;
  }
  #block1 figure {
    width: 100%;
    margin-bottom: 1.1vw;
    height: 180px;
  }
  #block2 figure {
    width: 100%;
    margin-bottom: 1.1vw;
    height: 180px;
  }
  #block2 {
    margin: 0;
  }
  /************************* footer ************************/
  footer {
    margin: 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 851px) and (max-width: 1070px) {
  #activite h3 {
    font-size: 0.9rem;
  }
  #activite figcaption {
    margin-top: 2px;
  }
}
/* @media screen and (wax-width: 470px) {
  header {
    position: relative;
  }
  #signin {
    position: absolute;
    top: 0;
    right: 0;
  } */
}
